body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

    button:hover {
        opacity: 0.8;
    }

    button.start-button {
        background-color: #2498fb;
    }

    button.end-button {
        background-color: #ff4f4f;
    }

    button.exit-button {
        background-color: #ccc;
    }

/* The Close Button (x) */
.close {
    width: 100%;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    display: inline-block;
}

    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }

/* Center the image */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    height: 200px;
    width: auto;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Log */
.log-row {
    padding: 0 0 16px 0;
}

.log-name {
    font-weight: 600;
}

#userlog-username {
    min-width: 200px;
    text-align: center;
    padding: 20px 0;
}

/* Table */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #4CAF50;
    color: white;
}